body{
    background-color: black;
}
.link:link{
    background-color:cornsilk;
    text-decoration:none;
}
.link:visited{
    background-color:cornsilk;
    text-decoration:none;
}
.link:hover{
    background-color:rgb(215, 225, 228);
    text-decoration:none;
}
.link:active{
    background-color:#f8fdff;
    text-decoration:none;
}