body{
    background-color: black;
}
link:link{
    color:cornsilk;
    text-decoration:none;
}
link:visited{
    color:cornsilk;
    text-decoration:none;
}
link:hover{
    color:rgb(215, 225, 228);
    text-decoration:none;
}
link:active{
    color:#f8fdff;
    text-decoration:none;
}