body{
    background-color:#a8d3d8;
    margin:0px;
}
.link:link{
    text-decoration:none;
    color:#4b8087;
}
.link:visited{
    text-decoration:none;
    color:#4b8087;
}
.link:hover{
    text-decoration:none;
    color:#4b8087;
}
.link:active{
    text-decoration:none;
    color:#4b8087;
}
p{
    color:#4b8087;
}
h4{
    color:#4b8087;
}
#instruksi{
    background-color:#c5dcdf;
    height:130px;
    width:300px;
}
#alert{
    color:#f96161;
}
#top{
    background-color:#92bbbf;
    margin-bottom:10px;
    height: 10cm;
}
#home{
    display:inline;
}
#head{
    color:#709194;
    text-align: top center;
}